
@{
    ViewData["Title"] = "Quiz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .font-weight-bolder{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:deeppink;
        display:inline block;
    }
    .btn{
        display:inline-block ;
        width: 200px;
    }
    .btn:hover{
        background-color:hotpink;
        cursor:pointer;
        font-weight:bold;
    }
</style>
<div class="container text-center">
    <h2 class="font-weight-bolder">Choose a Topic</h2>
    <br /><br />
    <p class="btn btn-primary">Cricket</p>
    <br />
    <p class="btn btn-primary">Music</p>
    <br />
    <p class="btn btn-primary">Tech</p>
    <br />
    <p class="btn btn-primary">Bollywood</p>
    <br />
    <p class="btn btn-primary">Science</p>
    <br />
    <p class="btn btn-primary">History</p>
</div>

